<%= content_tag_for :tr, poll do %>
    <td>
      <%= link_to poll_path(poll) do %>
          <%= poll.question %>
      <% end %>
    </td>
    <td>
      <%= link_to edit_poll_path(poll), id: "edit_poll_#{poll.id}_button", class: 'btn' do %>
          <i class="icon-pencil"></i>
      <% end %>
      <%= link_to poll_path(poll), id: "delete_poll_#{poll.id}_button", method: :delete, class: 'btn' do %>
          <i class="icon-remove"></i>
      <% end %>
    </td>
<% end %>