<%= div_for(poll) do %>
    <%= link_to poll_path(poll) do %>
        <p>
          <%= poll.question %>
        </p>
    <% end %>
    <%= link_to 'Edit', edit_poll_path(poll), id: "edit_poll_#{poll.id}_button" %>
    <%= link_to 'Delete', poll_path(poll), id: "delete_poll_#{poll.id}_button", method: :delete %>
<% end %>