<%= content_tag_for :tr, poll do %>
    <td>
      <%= link_to poll_path(poll) do %>
          <%= poll.question %>
      <% end %>
    </td>
    <td>
      <%= link_to 'Edit', edit_poll_path(poll), id: "edit_poll_#{poll.id}_button", class: 'btn' %>
      <%= link_to 'Delete', poll_path(poll), id: "delete_poll_#{poll.id}_button", method: :delete, class: 'btn' %>
    </td>
<% end %>